/* Reset default margins and paddings */
body, h3, a, button, div {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Center the body content */
body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333; /* Dark gray text color */
    line-height: 1.6;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items at the start of the cross-axis */
    min-height: 100vh;
}

/* Heading styles */
h3.title-heading {
    font-size: 28px;
    color: #6a1b9a; /* Purple color */
    margin-bottom: 20px;
}

/* Container for buttons */
.buttons-container {
    display: flex;
    align-self: flex-end;
    margin-top: -30px;
}

/* Purple button styles */
a.create-account-link {
    background-color: #6a1b9a;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    margin-left:5px;
    margin-right: 5px;
}
button#fetchDataButton {
    background-color: #6a1b9a;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
/* On hover, lighten the button color */
a.create-account-link:hover, button#fetchDataButton:hover {
    background-color: #8259a4; /* Lighter shade of purple */
}

/* API data container styles */
#apiDataContainer {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    color: #333;
    font-size: 14px;
    white-space: pre-wrap;
}
.data-table th,
.data-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

.data-table th {
    background-color: #f2f2f2;
}

/* Add styles for the fetchDataButton and input elements */
#fetchDataButton {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#fromDate,
#toDate {
    margin-top: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}
.input-label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

label {
    font-weight: bold;
    margin-right: 10px;
}
.inputs {
    max-width: 70%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
/* Style for date inputs with labels */
.date-input {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 8px;
    font-size: 14px;
    appearance: none;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
}


.station-button {
    padding: 8px 15px;
    background-color: #f2f2f2;
    color: #333;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s;
}

.station-button:hover {
    background-color: #007bff;
    color: white;
}

#apiDataContainer {
    margin-top: 20px;
}
#showTableButton {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #6a1b9a;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

#showTableButton:hover {
    background-color: #8259a4;
}
.station-button {
    margin-top: 20px;
    background-color: #6a1b9a;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
.station-button:hover {
    background-color: #8259a4;
}
.stations-list {
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0;
    margin: 0;
    display: none;
    width: 80%;
}
.stations-dropdown {
    padding: 0;
    margin: 0;
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.station-li{
    cursor: pointer;
    padding: 8px;
    border-bottom: none;
    transition: background-color 0.3s, color 0.3s;
    list-style: none;
    flex: 1 0 20%;
}


.stations-list li:last-child {
    border-bottom: none;
}

.stations-list li:hover {
    background-color: #f2f2f2;
}
