/* Reset default margins and paddings */
body, h3, a, button, div {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Center the body content */
body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333; /* Dark gray text color */
    line-height: 1.6;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items at the start of the cross-axis */
    min-height: 100vh;
}

/* Heading styles */
h3.title-heading {
    font-size: 28px;
    color: #6a1b9a; /* Purple color */
    margin-bottom: 20px;
}

/* Container for buttons */
.buttons-container {
    display: flex;
    align-self: flex-end;
    margin-top: -30px;
}

/* Purple button styles */
a.create-account-link {
    background-color: #6a1b9a;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    margin-left:5px;
    margin-right: 5px;
}
button#fetchDataButton {
    background-color: #6a1b9a;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
/* On hover, lighten the button color */
a.create-account-link:hover, button#fetchDataButton:hover {
    background-color: #8259a4; /* Lighter shade of purple */
}

/* API data container styles */
#apiDataContainer {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    color: #333;
    font-size: 14px;
    white-space: pre-wrap;
}
