<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="BWT demo version">
    <meta name="developer" content="Dmitrijs Kozlovs">

<style>
    body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 30px;
        }

        h1 {
            font-size: 36px;
            margin-bottom: 20px;
        }

        p {
            font-size: 18px;
            margin-bottom: 30px;
        }

        .footer {
            font-size: 14px;
            color: #888;
        }
</style>
</head>
<body>
<h1>Coming Soon</h1>
<p>This option is under construction!</p>
<div class="footer">&copy; 2023 BWT. All rights reserved.</div>
</body>
</html>