<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="BWT demo version">
    <meta name="developer" content="Dmitrijs Kozlovs">
    <title>Baltic Water Temperature</title>
    <link rel="stylesheet" href="../static/homepage.css">
</head>
<body>

<h3 class="title-heading">Baltic Water Temperature</h3>

<div class="buttons-container">
    <span th:if="${loggedInUser}">
        Welcome, <span th:text="${loggedInUser}"></span>!
        <a href="/logout" class="create-account-link">Logout</a> <br>
        <a href="/thresholdSetter">Set Threshold Notifications</a> <br>
        <a href="/saveFavorite">Add Favorite Location</a> <br>
        <div>
            Your Favorite Locations:
            <ul>
                <li th:each="location : ${favoriteLocations}" class="favorite-location">
                    <button class='favspan' th:text="${location.name}" ></button>
                    <button class='favspana' th:text="${location.id}" style="display: none"></button>
                </li>
            </ul>
        </div>
    </span>
    <span th:unless="${loggedInUser}">
        <a href="/register" class="create-account-link">Create Account</a>
        <a href="/login" class="create-account-link">Login</a>
    </span>
</div>


<div class="inputs">
    <div class="input-label">
        <label for="fromDate">From:</label>
        <input type="date" id="fromDate" class="date-input" placeholder="From Date">
    </div>

    <div class="input-label">
        <label for="toDate">To:</label>
        <input type="date" id="toDate" class="date-input" placeholder="To Date">
    </div>
    <div class="input-label" id="stationsDropdown">
        <button class="station-button">Select Station</button>
    </div>
</div>
    <div class="stations-list">
        <ul class="stations-dropdown">
            <li class="station-li" data-station="HD073810">Rīga, Mīlgrāvis canal</li>
            <li class="station-li" data-station="HD073352">Aiviekstes HES</li>
            <li class="station-li" data-station="HD073552">Baloži, Bērze river</li>
            <li class="station-li" data-station="HD073482">Bauska, Mūsa river</li>
            <li class="station-li" data-station="HD073548">Bramberģe, Tērvete river</li>
            <li class="station-li" data-station="HD073720">Brūnuļi, Indrica rive</li>
            <li class="station-li" data-station="HD073901">Burtnieki, Burtnieku lake</li>
            <li class="station-li" data-station="HD073813">Carnikava, Gauja river</li>
            <li class="station-li" data-station="HD073709">Cīrava, Durbe river</li>
            <li class="station-li" data-station="HD073682">Dūkupji, Bārta river</li>
            <li class="station-li" data-station="HD073380">Griškāni, Rēzekne river</li>
            <li class="station-li" data-station="HD073151">Jēkabpils, Daugava river</li>
            <li class="station-li" data-station="HD073801">Jelgava, Lielupe river</li>
            <li class="station-li" data-station="HD073802">Kalnciems, Lielupe river</li>
            <li class="station-li" data-station="HD073809">Ķīšezers, Jugla canal</li>
            <li class="station-li" data-station="HD073137">Krāslava, Daugava river</li>
            <li class="station-li" data-station="HD073613">Kuldīga, Venta river</li>
            <li class="station-li" data-station="HD073334">Kūlenieki, Oša river</li>
            <li class="station-li" data-station="HD073009">Lagaste, Salaca river</li>
            <li class="station-li" data-station="HD073079">Lejasciems, Tirza river</li>
            <li class="station-li" data-station="HD073721">Lenderņa, Laucesa river</li>
            <li class="station-li" data-station="HD073400">Ogre river</li>
            <li class="station-li" data-station="HD073529">Lielveisi, Misa river</li>
            <li class="station-li" data-station="HD073366">Litene, Pededze river</li>
            <li class="station-li" data-station="HD073345">Lubāna, Aiviekste river</li>
            <li class="station-li" data-station="HD072971">Ludza, Big Ludzas lake</li>
            <li class="station-li" data-station="HD073003">Mazsalaca, Salaca river</li>
            <li class="station-li" data-station="HD073098">Melturi, Amata river</li>
            <li class="station-li" data-station="HD073422">Mežotne Lielupe river</li>
            <li class="station-li" data-station="HD073025">Oleri, Seda river</li>
            <li class="station-li" data-station="HD073641">Pakuļu HES</li>
            <li class="station-li" data-station="HD073135">Piedruja, Daugava river</li>
            <li class="station-li" data-station="HD073904">Pļaviņas, Pļaviņu reservoir</li>
            <li class="station-li" data-station="HD073653">Renda, Abava river</li>
            <li class="station-li" data-station="HD073580">Rojupe, Roja river</li>
            <li class="station-li" data-station="HD073062">Sigulda, Gauja river</li>
            <li class="station-li" data-station="HD073953">Spīdoles, Sventes lake</li>
            <li class="station-li" data-station="HD073322">Sīļi, Dubna river</li>
            <li class="station-li" data-station="HD073803">Sloka, Lielupe river</li>
            <li class="station-li" data-station="HD073424">Staļģene, Lielupe river</li>
            <li class="station-li" data-station="HD073461">Sudrabkalni, Viesīte river</li>
            <li class="station-li" data-station="HD073075">Taurene, Meža upīte</li>
            <li class="station-li" data-station="HD073659">Tērande, Užava river</li>
            <li class="station-li" data-station="HD073144">Vaikuļāni, Daugava river</li>
            <li class="station-li" data-station="HD073605">Vārdava, Venta river</li>
            <li class="station-li" data-station="HD073044">Velēna, Gauja river</li>
            <li class="station-li" data-station="HD073616">Vendzava, Venta river</li>
            <li class="station-li" data-station="HD073582">Vičaki, Irbe river</li>
            <li class="station-li" data-station="HD073411">Zaķi</li>
            <li class="station-li" data-station="HD073071">Zosēni, Tūlija</li>
            <li class="station-li" data-station="HD073982">Usmas lake</li>
            <li class="station-li" data-station="HD073972">Kaunata, Rāznas lake</li>
        </ul>
    </div>

<!--<button id="fetchDataButton">Find Temperature</button>-->
<div id="selectedStation" class="selected-station"></div>
<div id="dataContainer" style="display: none">
    <div style="position: relative; height:40vh; width:90vw">
        <canvas id="temperatureChart"></canvas>
    </div>
    <button id="showTableButton">Show Historical Data</button>
</div>
<div id="apiDataContainer" style="display: none"></div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="../static/homepage.js"></script>


</body>
</html>
