<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="developer" content="Dmitrijs Kozlovs">
    <title></title>
</head>
<body>

<h3>Add Favorite Location</h3>

<table>
    <tr>
        <form action="/saveFavorite" th:object="${request}" method="post">
            <select th:field="*{locationId}">
                <option value="HD073810">Rīga, Mīlgrāvis canal</option>
                <option value="HD073352">Aiviekstes HES</option>
                <option value="HD073552">Baloži, Bērze river</option>
                <option value="HD073482">Bauska, Mūsa river</option>
                <option value="HD073548">Bramberģe, Tērvete river</option>
                <option value="HD073720">Brūnuļi, Indrica rive</option>
                <option value="HD073901">Burtnieki, Burtnieku lake</option>
                <option value="HD073813">Carnikava, Gauja river</option>
                <option value="HD073709">Cīrava, Durbe river</option>
                <option value="HD073682">Dūkupji, Bārta rive</option>
                <option value="HD073380">Griškāni, Rēzekne rive</option>
                <option value="HD073151">Jēkabpils, Daugava rive</option>
                <option value="HD073801">Jelgava, Lielupe rive</option>
                <option value="HD073802">Kalnciems, Lielupe river</option>
                <option value="HD073809">Ķīšezers, Jugla canal</option>
                <option value="HD073137">Krāslava, Daugava river</option>
                <option value="HD073613">Kuldīga, Venta river</option>
                <option value="HD073334">Kūlenieki, Oša river</option>
                <option value="HD073009">Lagaste, Salaca river</option>
                <option value="HD073079">Lejasciems, Tirza river</option>
                <option value="HD073721">Lenderņa, Laucesa river</option>
                <option value="HD073400">Ogre river</option>
                <option value="HD073529">Lielveisi, Misa river</option>
                <option value="HD073366">Litene, Pededze river</option>
                <option value="HD073345">Lubāna, Aiviekste river<</option>
                <option value="HD072971">Ludza, Big Ludzas lake</option>
                <option value="HD073003">Mazsalaca, Salaca river</option>
                <option value="HD073098">Melturi, Amata river</option>
                <option value="HD073422">Mežotne Lielupe river</option>
                <option value="HD073025">Oleri, Seda river</option>
                <option value="HD073641">Pakuļu HES</option>
                <option value="HD073135">Piedruja, Daugava river</option>
                <option value="HD073904">Pļaviņas, Pļaviņu reservoir</option>
                <option value="HD073653">Renda, Abava river</option>
                <option value="HD073580">Rojupe, Roja river</option>
                <option value="HD073062">Sigulda, Gauja river</option>
                <option value="HD073953">Spīdoles, Sventes lake</option>
                <option value="HD073322">Sīļi, Dubna river</option>
                <option value="HD073803">Sloka, Lielupe river</option>
                <option value="HD073424">Staļģene, Lielupe river</option>
                <option value="HD073461">Sudrabkalni, Viesīte river</option>
                <option value="HD073075">Taurene, Meža upīte</option>
                <option value="HD073659">Tērande, Užava river</option>
                <option value="HD073144">Vaikuļāni, Daugava river</option>
                <option value="HD073605">Vārdava, Venta river</option>
                <option value="HD073044">Velēna, Gauja river</option>
                <option value="HD073616">Vendzava, Venta river</option>
                <option value="HD073582">Vičaki, Irbe river</option>
                <option value="HD073411">Zaķi</option>
                <option value="HD073071">Zosēni, Tūlija</option>
                <option value="HD073982">Usmas lake</option>
                <option value="HD073972">Kaunata, Rāznas lake</option>
            </select>
            <td><input type="submit" value="Add To Favorite"/></td>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        </form>
    </tr>
    <p th:text="${message}"></p>
</table>
<a href="/">To home page</a>
</body>
</html>